$white: #ffffff;
$aqua-haze: #F0F5F7;
$cornflower: #8BB5E9;
$seagull: #87BEEA;
$dull-lavender: #9496E6;

$pastel-green: #6BE0A5;
$grandis: #FFDA83;
$malibu: #56D9FE;

$dark-grey: #4D4F5C;

$body-bg: $aqua-haze;